.about {
    width: 100%;
    height: 92vh;
}

.bg {
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
}

.bg img {
    width: 100%;
    height: 100%;
}

.about-container {
    width: 100%;
    height: 100%;
    display: flex;
    color: #fff;
    padding: 10px 100px;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(180px);
}

.about-txt h3, h1, h2 {
    margin-bottom: 1rem;
}
.about-txt a button {
    width: 250px;
    height: 45px;
    outline: none;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 5px;
    background: transparent;
    border: 1px solid #2970ff;
}

.about-txt a button:hover {
    color: #fff;
    transition: 0.5s;
    background: #2970ff;
}

/* Media Screen */

@media only screen and (max-width: 800px) {
    .about-container {
        padding: 10px 50px;
    }

    .about-txt h1 {
        font-size: 20px;
    }

    .about-txt h2 {
        font-size: 22px;
    }
}

@media only screen and (max-width: 460px) {
    .about-container {
        padding: 10px 20px;
    }

    .about-txt h1 {
        font-size: 20px;
    }

    .about-txt h2 {
        font-size: 22px;
    }
}